@use '../variables' as *;

.header {
  background-image: url('/src/images/Image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header__bottom {
  padding-bottom: 40px;
  @include paddingIline;
  
  @include onTablet() {
    padding-bottom: 65px; 
  }
}