.menu {
    background-color: #E5E6E8;
    height: 100vh;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;




    &__bottom {
        padding-inline: 20px;
        margin-top: 48px;
    }

    &_link {
        text-decoration: none;
        color: #292929;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 2px;
    }

    &__link--call-to-order-text {
        text-transform: uppercase;
    }
}

.menu:target {
    opacity: 1; // Показываем меню, когда #menu активно
    pointer-events: auto; // Разрешаем взаимодействие
  }
