@use '../variables' as *;

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & {
    padding-block: 28px ;
  }

  @include paddingIline;

  
  @include onTablet() {
    padding-block: 36px; 
  }
}
  